---
---
$navW: 12em;
nav h1 {
	font-size: 1.5em;
	margin: 0;
}
h3 {
	font-size: 0.9em;
}
tr h3 {
	margin-top: 0.1em;
}
h4 {
	text-decoration: underline;
	cursor: pointer;
	font-size: 0.7em;
}
p,ul,ol,h6 {
	font-size: 0.9em;
	//max-width: 48em;
	line-height: 150%;
	margin-top: 0.5em;
	margin-bottom: 0.8em;
}
h6 {
	color: #a6a6a6;
	font-weight: normal;
}
nav {
	width: $navW;
	height: 100%;
	position: fixed;top:0;left:0;
	background-color: #EFF2F0;
}
nav h1 {
	padding: 0.5em;
}
nav p {
	padding: 0;
	margin: 0.2em 0 0 0;
}
.top-bar {
	width: 100%;
	height: 7em;
	margin-bottom: 1em;
}
.top-bar.vis {
	position: fixed;top:0;left:$navW+1em;
	padding-top: 0.2em;
	//padding-left: 2.5em;
}
.multiplebgs .top-bar.vis {
    	background: 
   		url('{{ site.baseurl }}/images/rainbow.png') no-repeat left bottom,
   		white url('{{ site.baseurl }}/images/BW-thumbprint.jpg') no-repeat 30em top;
}
.no-multiplebgs .top-bar.vis {
	background-color: white;
	background-image: url('{{ site.baseurl }}/images/rainbow.png');
    	background-repeat: no-repeat;
    	background-position: left bottom;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	//margin-bottom: 4em;
}
nav li {
	border-bottom: 1px dotted #ccc;
}
nav li:last-child {
    border-bottom: none;
}
nav li a {
	display: block;
	padding: 0.2em 0.5em 0.2em 0.5em;
}
nav  a {
	text-decoration: none;
	color: black;
}
nav a:hover {
    text-decoration: underline;
}
nav li.selected a {
    font-weight: bold;
    color: #0090B5;
}
main {
	margin-left: $navW+1em;
	width: 100%;
	max-width: 60em;
}
table, th, td {
	width: auto !important;
}
table {
	border-collapse: collapse;
	//max-width: 60em;
	border: transparent;
}
table td, table th {
  border: 1px solid #ddd;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

th, td {
	padding: 0.8em;
	vertical-align: top;
}
td {
	max-width: 45em;
}
table.a-to-z td:first-child {
	max-width: 13em;
}
table.a-to-z td:last-child {
	min-width: 15em;
}
td:first-child + td {
	min-width: 25em;
}
input {
  width: 10em;
  font-size: 2em;
  //line-height: 2;
  height: 2em;
  border:solid 1px #ccc;
  border-radius: 5px;
  padding: 0.3em 0.3em;
  margin-bottom: 0.5em;
}
input:focus {
  outline:none;
  border-color:#aaa;
}
button {
    background-color: #5CA038; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    margin: 0;
    font-size: 2em;
    height: 2em;
}
button#exact {
    background-color: #65BFD4;
}
#filler {
	height:60em;
}
.hide {
  display: none;
}
.invis {
  visibility: hidden;
}
.read-more-toggle {
  	text-decoration: underline;
	cursor: pointer;
	color: #0000EE;
}
