---
---
body { 
    background-image: url('{{ site.baseurl }}/images/BW-thumbprint.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; 
}
h3 {
	font-size: 0.9em;
}
tr h3 {
	margin-top: 0.1em;
}
h4 {
	text-decoration: underline;
	cursor: pointer;
	font-size: 0.7em;
}
p,ul,ol,h6 {
	font-size: 0.9em;
	max-width: 48em;
	line-height: 150%;
	margin-top: 0.5em;
	margin-bottom: 0.8em;
}
h6 {
	color: #a6a6a6;
	font-weight: normal;
}
nav {
	padding-left: 0.5em;
	width: 11.5em;
	height: 100%;
	position: fixed;top:0;left:0;
	background-color: #cccccc;
}
.top-bar {
	width: 100%;
	height: 4em;
}
.top-bar.vis {
	position: fixed;top:0;left:12em;
	background-color: black;
	color: white;
	padding-top: 0.2em;
	padding-left: 2.5em;
	
	background-image: url('{{ site.baseurl }}/images/rainbow.png');
    	background-repeat: no-repeat;
	background-attachment: fixed;
    	background-position: bottom left; 
}
.top-bar.hid {
	
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 4em;
}
nav li {
	border-bottom: 1px solid #555;
}
nav li:last-child {
    border-bottom: none;
}
nav li a {
	display: block;
	padding: 0.2em 0 0.2em 0.6em;
	text-decoration: none;
	color: #000;
}
nav li a:hover {
    background-color: lightblue;
    color: #000;
}
nav li.selected a {
    background-color: #555;
    color: white;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	cursor: pointer;
    border-radius: 8px;
	margin: 0;
}
button#exact {
    background-color: blue;
}
main {
	margin-left: 14em;
	max-width: 60em;
}
table, th, td {
	width: auto;
}
table {
	border-collapse: collapse;
	max-width: 60em;
	border: transparent;
}
table td, table th {
  border: 1px solid #ddd;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

th, td {
	padding: 0.8em;
	vertical-align: top;
}
td {
	max-width: 45em;
}
table.index td:first-child {
	max-width: 13em;
}
td:first-child + td {
	min-width: 25em;
}
input {
  width: 10em;
  border:solid 1px #ccc;
  border-radius: 5px;
  padding: 0.3em 0.3em;
}
input:focus {
  outline:none;
  border-color:#aaa;
}
#filler {
	height:20em;
}
.hide {
  display: none;
}
.invis {
  visibility: hidden;
}
.read-more-toggle {
  	text-decoration: underline;
	cursor: pointer;
	color: #0000EE;
}
