---
layout: default
---
{{ content }}

<table border="1" cellpadding="0" cellspacing="0" style="width:748px">
	<thead>
		<tr>
			<th style="width:130px">
			<p><strong>Headword</strong></p>
			</th>
			<th style="width:375px">
			<p><strong>Entry</strong></p>
			</th>
			<th style="width:85px">
			<p><strong><span style="font-size:8.0pt">Search help</span></strong></p>
			</th>
			<th style="width:41px">
			<p><strong><span style="font-size:8.0pt">GP1</span></strong></p>
			</th>
			<th style="width:38px">
			<p><strong><span style="font-size:8.0pt">GP2</span></strong></p>
			</th>
			<th style="width:40px">
			<p><strong><span style="font-size:8.0pt">GP3</span></strong></p>
			</th>
			<th style="width:40px">
			<p><strong><span style="font-size:8.0pt">GP4</span></strong></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:130px">
			<h3>&amp;, +</h3>
			</td>
			<td style="width:375px">
			<p>Use &lsquo;&amp;&rsquo; and &lsquo;+&#39; only where space is limited (eg, in web text, marketing text, or tables) or when part of a proper name. Use &lsquo;and&rsquo; instead in normally running text.</p>
			</td>
			<td style="width:85px">
			<p>&nbsp;</p>
			</td>
			<td style="width:41px">
			<p><span style="font-size:8.0pt">ABB</span></p>
			</td>
			<td style="width:38px">
			<p><span style="font-size:8.0pt">USG</span></p>
			</td>
			<td style="width:40px">
			<p>&nbsp;</p>
			</td>
			<td style="width:40px">
			<p>&nbsp;</p>
			</td>
		</tr>
		
	
		<tr>
			<td style="width:130px">
			<h3>academic subjects</h3>
			</td>
			<td style="width:375px">
			<p>See <strong>awards and qualifications</strong> and <strong>capitals (academic subjects and qualifications)</strong>.</p>
			</td>
			<td style="width:85px">
			<p>&nbsp;</p>
			</td>
			<td style="width:41px">
			<p><span style="font-size:8.0pt">CAP</span></p>
			</td>
			<td style="width:38px">
			<p><span style="font-size:8.0pt">ABB</span></p>
			</td>
			<td style="width:40px">
			<p>&nbsp;</p>
			</td>
			<td style="width:40px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<h3>acknowledgement</h3>

			<h3>&nbsp;</h3>

			<p>Also see</p>

			<h4>-dgment vs -dgement</h4>
			</td>
			<td style="width:375px">
			<p>Use &lsquo;acknowledgement&rsquo; <em>not</em> &lsquo;acknowledgment&rsquo;.</p>
			</td>
			<td style="width:85px">
			<p>&nbsp;</p>
			</td>
			<td style="width:41px">
			<p><span style="font-size:8.0pt">SPL</span></p>
			</td>
			<td style="width:38px">
			<p><span style="font-size:8.0pt">USG</span></p>
			</td>
			<td style="width:40px">
			<p>&nbsp;</p>
			</td>
			<td style="width:40px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<h3>acronyms of blah</h3>

			<h3>&nbsp;</h3>

			<p>Also see</p>

			<h4>abbreviations</h4>
			</td>
			<td style="width:375px">
			<p><strong>Spelling out</strong></p>

			<p>Spell out ///.</p>

			<h6>Alexand...</h6>

			<p>You don&rsquo;t ...</p>

			<h6>Anzac...</h6>

			<p><strong>Capitalisation: acronyms versus initialisms </strong></p>

			<p>Distinguish between...</p>

			<ul>
				<li>For acronyms, generally use an ...</li>
			</ul>

			
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<h3>acronyms</h3>

			<h3>&nbsp;</h3>

			<p>Also see</p>

			<h4>abbreviations</h4>
			</td>
			<td style="width:375px">
			<p><strong>Spelling out</strong></p>

			<p>Spell out ///.</p>

			<h6>Alexand...</h6>

			<p>You don&rsquo;t ...</p>

			<h6>Anzac...</h6>

			<p><strong>Capitalisation: acronyms versus initialisms </strong></p>

			<p>Distinguish between...</p>

			<ul>
				<li>For acronyms, generally use an ...</li>
			</ul>

			
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<h3>adding</h3>

			<h3>&nbsp;</h3>

			<p>Also see</p>

			<h4>abbreviations</h4>
			</td>
			<td style="width:375px">
			<p><strong>Spelling out</strong></p>

			<p>Spell out ///.</p>

			<h6>Alexand...</h6>

			<p>You don&rsquo;t ...</p>

			<h6>Anzac...</h6>

			<p><strong>Capitalisation: acronyms versus initialisms </strong></p>

			<p>Distinguish between...</p>

			<ul>
				<li>For acronyms, generally use an ...</li>
			</ul>

			
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<h3>axe</h3>

			<h3>&nbsp;</h3>

			<p>Also see</p>

			<h4>abbreviations</h4>
			</td>
			<td style="width:375px">
			<p><strong>Spelling out</strong></p>

			<p>Spell out ///.</p>

			<h6>Alexand...</h6>

			<p>You don&rsquo;t ...</p>

			<h6>Anzac...</h6>

			<p><strong>Capitalisation: acronyms versus initialisms </strong></p>

			<p>Distinguish between...</p>

			<ul>
				<li>For acronyms, generally use an ...</li>
			</ul>

			
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<h3>bar</h3>

			<h3>&nbsp;</h3>

			<p>Also see</p>

			<h4>abbreviations</h4>
			</td>
			<td style="width:375px">
			<p><strong>Spelling out</strong></p>

			<p>Spell out ///.</p>

			<h6>Alexand...</h6>

			<p>You don&rsquo;t ...</p>

			<h6>Anzac...</h6>

			<p><strong>Capitalisation: acronyms versus initialisms </strong></p>

			<p>Distinguish between...</p>

			<ul>
				<li>For acronyms, generally use an ...</li>
			</ul>

			
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<h3>foo</h3>

			<h3>&nbsp;</h3>

			<p>Also see</p>

			<h4>abbreviations</h4>
			</td>
			<td style="width:375px">
			<p><strong>Spelling out</strong></p>

			<p>Spell out ///.</p>

			<h6>Alexand...</h6>

			<p>You don&rsquo;t ...</p>

			<h6>Anzac...</h6>

			<p><strong>Capitalisation: acronyms versus initialisms </strong></p>

			<p>Distinguish between...</p>

			<ul>
				<li>For acronyms, generally use an ...</li>
			</ul>

			
			</td>
		</tr>
	</tbody>
</table>
