---
layout: default
---
{{ content }}
<!-- ############# Updateable content goes under this line -->

<h1>&nbsp;</h1>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:149px">
			<p><strong>Purchases from museum funds </strong></p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Commissioned xxxx</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Acquired xxxx [only if the means of acquisition is unknown]</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p><strong>Purchases from external funds</strong></p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx from Wellington City Council Picture Purchase Fund</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx with Minister&rsquo;s discretionary funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx with Minister&rsquo;s discretionary funds and New Zealand Lottery Grants Board funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>Before 1990</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx with New Zealand Lottery Board funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>After 1990</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx with New Zealand Lottery Grants Board funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx with Queen Elizabeth II Arts Council of New Zealand funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p><strong>Purchases from trust funds</strong></p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx from T G Macarthy Trust funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx from the Beverley, Rubina, and Mervyn Williamson Trust Fund</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx from the Molly Morpeth Canaday Fund</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx with Harold Beauchamp Collection funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx with Lindsay Buick Bequest / Mary Buick Bequest funds</p>

			<p>[names to be used alternately for new purchases]</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx with Charles Disney Art Trust funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx with Ellen Eames Collection funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx with Dugald Henderson Bequest funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx with Sir John Ilott Charitable Trust funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx with Elise Mourant Collection funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx with G G Gibbes Watson Bequest funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p><strong>Purchases as part of major collections</strong></p>
			</td>
			<td style="width:511px">
			<p>Purchased xxxx as part of the Burton Brothers Collection</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Oldman Collection, gift of the New Zealand Government, 1992</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Purchased 1981 as part of the Thomas Borrow Collection, with New Zealand Lottery Board funds</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p><strong>Gifts</strong></p>
			</td>
			<td style="width:511px">
			<p>Gift of Alexander Turnbull, 1913</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Gift of Bishop Monrad, 1869</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Gift of Dame Elizabeth Knox Gilmer, 1955</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Gift of E A Atkinson, 1935, on behalf of the artist&rsquo;s daughter, D K Richmond</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Gift of Gordon Burt Ltd, 1968</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Gift of Hans and Martha Lachmann, 1995</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Gift of Mrs Frances Neal, xxxx [if date unknown, leave out]</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Gift of New Zealand Post Ltd, 1992</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Gift of Rex Nan Kivell, 1951</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Gift of the Navy Office, Wellington, 1925</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Gift of the Rita Angus Estate, 1998</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Gift of the Wellington City Council, 1929, as part of the Petherick Collection</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Gift of the Wellington Dental Nursing School, 1993</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Gift of Walter Cook, 1993</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>The New Zealand Rail Railway Model Collection, gift of New Zealand Rail Ltd, 1993</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p><strong>Bequests</strong></p>
			</td>
			<td style="width:511px">
			<p>Bequest of K A Webster, 1967</p>

			<p>(NOTE: This credit applies to many objects with registration numbers beginning with WE.)</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Bequest of Miss S Leetham, 1939</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Bequest of Mrs E G Elgar, 1945</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Bequest of Mrs E H Blair, 1918, in memory of her late husband, Archibald Anderson Watt</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Bequest of Mrs Lillian Bushell, 1980</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>Bequest of Phoebe Maunsell, 1983</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p><strong>Loans and deposits</strong></p>
			</td>
			<td style="width:511px">
			<p>On loan from xxx [includes items said to be &lsquo;on deposit&rsquo;]</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>On loan from Christchurch Art Gallery Te Puna o Waiwhetū</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p>&nbsp;</p>
			</td>
			<td style="width:511px">
			<p>On loan from the Rita Angus Estate</p>

			<p>(These works are part of our collection in the sense that they are on long-term loan here and have been since 1970. They used to be known as the Rita Angus Loan Collection at the National Art Gallery. They are a different category of loan to things we borrow for a specific exhibition.)</p>
			</td>
		</tr>
		<tr>
			<td style="width:149px">
			<p><strong>Commissions</strong></p>
			</td>
			<td style="width:511px">
			<p>Commissioned for the Te Papa exhibition <em>xxx</em>, xxx</p>
			</td>
		</tr>
	</tbody>
</table>
