<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    <meta charset="UTF-8">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/js/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/normalize.css">
    <script src="{{ site.baseurl }}/js/modernizr.js"></script>
    <script src="{{ site.baseurl }}/js/list.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>
    {% if page.comments %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/tooltipster.css" />
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.tooltipster.min.js"></script>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/print.css" media="print" type="text/css">
  </head>
  <body>
    <div id="styleguide">
    <nav>
      <p><small><a href="http://kupenga/Pages/default.aspx">&lt; Kupenga</a></small></p>
      <h1>Te Papa<br/>Style Guide</h1>
      <ul>
        <li><a href="{{ site.baseurl }}/introduction/">Introduction</a></li>
        <li><a href="{{ site.baseurl }}/a-to-z/">Style Guide A&ndash;Z</a></li>
        <li><a href="{{ site.baseurl }}/te-papa-names/">Te Papa names</a></li>
        <li><a href="{{ site.baseurl }}/iwi-names/">Iwi names</a></li>
        <li><a href="{{ site.baseurl }}/glosses/">Glosses (Māori&ndash;English)</a></li>
        <li><a href="{{ site.baseurl }}/acquisition-credits/">Acquisition credits</a></li>
      </ul>
    </nav>
      <main>
        {% if page.searchbar %}
        <div class="top-bar vis">
          <p>
            <input id="search" class="search" placeholder="Search headwords" />
            <button id="exact">Exact</button> &nbsp; <button id="clear">View full list</button><br/>
            &lsquo; &nbsp; &rsquo; ā ē ī ō ū
          </p>
        </div>
        <div class="top-bar hid">&nbsp</div>
        {% endif %}
          <!-- ################## START OF CONTENT ######################### -->
          {{ content }}
          <!-- ################## END OF CONTENT ######################### -->
        <div id="filler"><p></p></div>
      </main>
    </div>
  </body>
</html>
