---
layout: default
---
{{ content }}
<!-- ############# Updateable content goes under this line -->

<table border="1" cellpadding="0" cellspacing="0" style="width:694px">
	<thead>
		<tr>
			<th style="width:130px">
			<p><strong>Headword</strong></p>
			</th>
			<th style="width:375px">
			<p><strong>Gloss</strong></p>
			</th>
			<th style="width:38px">
			<p><strong>Search help</strong></p>
			</th>
			<th style="width:38px">
			<p><strong>GP1</strong></p>
			</th>
			<th style="width:38px">
			<p><strong>GP2</strong></p>
			</th>
			<th style="width:38px">
			<p><strong>GP3</strong></p>
			</th>
			<th style="width:38px">
			<p><strong>GP4</strong></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:130px">
			<h3>Ahitereiria</h3>
			</td>
			<td style="width:375px">
			<p>Australia (transliteration)</p>
			</td>
			<td style="width:38px">
			<p>&nbsp;</p>
			</td>
			<td style="width:38px">
			<p>GLS</p>
			</td>
			<td style="width:38px">
			<p>MAO</p>
			</td>
			<td style="width:38px">
			<p>&nbsp;</p>
			</td>
			<td style="width:38px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<h3>aho</h3>
			</td>
			<td style="width:375px">
			<p>horizontal...</p>
			</td>
			<td style="width:38px">
			<p>&nbsp;</p>
			</td>
			<td style="width:38px">
			<p>GLS</p>
			</td>
			<td style="width:38px">
			<p>MAO</p>
			</td>
			<td style="width:38px">
			<p>&nbsp;</p>
			</td>
			<td style="width:38px">
			<p>&nbsp;</p>
			</td>
		</tr>
		
	</tbody>
</table>


