---
layout: default
---

<h1><a name="_Toc397850221"></a><a name="_Toc397851052"></a><a name="_Toc397850650">Te Papa Style Guide &ndash; English</a></h1>

<p>Revised September 2014</p>

<p>&nbsp;</p>

<h2><a name="_Toc397851053"></a><a name="_Toc397850651">Contents</a></h2>

<p><a href="#_Toc397851054">What is the Style Guide?<span style="color:windowtext">. </span><span style="color:windowtext">1</span></a></p>

<p><a href="#_Toc397851059">Style Guide A&ndash;Z<span style="color:windowtext">. </span><span style="color:windowtext">3</span></a></p>

<p><a href="#_Toc397851060">Appendix A &ndash; Te Papa names<span style="color:windowtext">. </span><span style="color:windowtext">96</span></a></p>

<p><a href="#_Toc397851061">Te Papa spaces<span style="color:windowtext">. </span><span style="color:windowtext">96</span></a></p>

<p><a href="#_Toc397851063">Te Papa exhibitions and stand-alone exhibits<span style="color:windowtext">. </span><span style="color:windowtext">98</span></a></p>

<p><a href="#_Toc397851068">Appendix B &ndash; Iwi names<span style="color:windowtext">. </span><span style="color:windowtext">103</span></a></p>

<p><a href="#_Toc397851069">Appendix C &ndash; Māori&ndash;English glosses<span style="color:windowtext">. </span><span style="color:windowtext">108</span></a></p>

<p><a href="#_Toc397851070">Appendix D &ndash; Te Papa acquisition history credit lines<span style="color:windowtext">. </span><span style="color:windowtext">122</span></a></p>

<p><br />
&nbsp;</p>

<h1><a name="_Toc397851054">What is the Style Guide?</a></h1>

<p>The Te Papa Style Guide presents our &lsquo;house style&rsquo; &ndash; the conventions we use in written English, in print and on-screen. The Writing Team is expected to be the most familiar with the content, but the guide is also intended as a reference for others involved in writing, editing, or translating:</p>

<ul>
	<li>exhibitions and displays</li>
	<li>visitor publications</li>
	<li>website content</li>
	<li>marketing material</li>
	<li>wayfinding signage.</li>
</ul>

<h2><a name="_Toc397851055"></a><a name="_Toc397850653"></a><a name="_Toc397850223">Why have a house style?</a></h2>

<p>Te Papa&rsquo;s reputation is built on delivering high quality. The text we produce reaches readers around New Zealand and the world &ndash; more than 2 million a year, including website users. Clear, engaging English is vital. Consistency, too, is important &ndash; it helps readers to access information and is a mark of professionalism.</p>

<p>On a practical level, a house style aids decision-making and results in greater efficiency.</p>

<h2><a name="_Toc397851056"></a><a name="_Toc397850654"></a><a name="_Toc397850224">Using the Style Guide</a></h2>

<p>This is an A&ndash;Z guide. Printing it is not necessarily wise &ndash; the content is regularly updated, and it&rsquo;s also long!</p>

<p>Instead, search for a keyword or phrase (&lsquo;Control F&rsquo; for &lsquo;Find&#39;) or browse headwords. Then, if necessary, print the relevant page or pages.&nbsp;</p>

<p>You can also search by the 3-letter codes associated with each entry. These correspond to different types of style decision. <a href="#_msocom_1" id="_anchor_1" name="_msoanchor_1">[FW1]</a>&nbsp;<a name="_Toc397850225"></a></p>

<h2><a name="_Toc397851058"></a><a name="_Toc397850656"></a><a name="_Toc397850226">Useful references</a></h2>

<p><a href="http://csprod.boh.tepapa.govt.nz/otcs/cs.exe/overview/2595470">Web writing guide for www.tepapa.govt.nz</a> <a href="#_msocom_2" id="_anchor_2" name="_msoanchor_2">[VC2]</a>&nbsp;</p>

<p><em>New Zealand Oxford Dictionary</em></p>

<p><em>Cambridge Guide to English Usage</em> &ndash; Pam Peters, Cambridge University Press (referred to as Peters in text)</p>

<p><em>Style Book: A Guide for New Zealand Writers and Editors</em> &ndash; Derek Wallace, Janet Hughes, GP Publications (out of print)</p>

<p><em>Meanings and Messages: Language Guidelines for Museum Exhibitions</em> &ndash; Linda Ferguson, Carolyn MacLulich, Louise Ravelli, Australian Museum</p>

<p><em>Better Business Writing on the Web</em> &ndash; Rachel McAlpine, CC Press</p>

<div>
<hr />
<div>
<div id="_com_1"><a name="_msocom_1"></a>

<p>&nbsp;<a href="#_msoanchor_1">[FW1]</a>We included these codes with the expectation that the Style Guide might become a searchable database online. That has never happened. Consider whether they are useful &ndash; possibly delete. (Frith, September 2014)</p>
</div>
</div>

<div>
<div id="_com_2"><a name="_msocom_2"></a>

<p>&nbsp;<a href="#_msoanchor_2">[VC2]</a>VC added 11/1/16</p>
</div>
</div>
</div>
