---
layout: default
---
{{ content }}
<!-- ############# Updateable content goes under this line -->

<table border="1" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th style="height:27px; width:228px">
			<p><a name="_Toc397850668"></a><a name="_Toc397850238"><strong>Correct Māori version</strong></a></p>
			</th>
			<th style="height:27px; width:201px">
			<p><strong>Notes</strong></p>
			</th>
			<th style="height:27px; width:228px">
			<p><a name="_Toc397850667"></a><a name="_Toc397850237"><strong>English version (no macrons)</strong></a></p>

			<p>This column is here to support electronic searches. The correct Te Papa version is in the left column.</p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="height:27px; width:228px">
			<p>Kāi Tahu</p>
			</td>
			<td style="height:27px; width:201px">
			<p>Kāi is a name used by the people of Kāi Tahu iwi.<br />
			Kāi = Ngāi. People from Te Waipounamu (the South Island) use both forms.</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Kai Tahu</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Kāti Waewae</p>
			</td>
			<td style="height:27px; width:201px">
			<p>Like the name &lsquo;Kāi Tahu&rsquo; above, &lsquo;Kāti&rsquo; is used by the people of Te Waipounamu. Kāti = Ngāti.</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Kati Waewae</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>ngā Moriori</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Moriori</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Muaūpoko</p>
			</td>
			<td style="height:27px; width:201px">
			<p>Although there&rsquo;s no macron over the &lsquo;u&rsquo; in &lsquo;upoko&rsquo; in <em>He Pātaka Kupu </em>and the Williams dictionary, the Muaūpoko Tribal Authority uses it.</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Muaupoko</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngā Māhanga (Taranaki)</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Nga Mahanga (Taranaki)</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngā Pōtiki</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Nga Potiki</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāpuhi</p>
			</td>
			<td style="height:27px; width:201px">
			<p>This is how the iwi have listed their spelling in our loan agreement for iwi taonga, and it is also consistent with the rūnanga website.</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Nga Puhi</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngā Rauru</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Nga Rauru</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngā Ruahine</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Nga Ruahine</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāi Hē</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngai He</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāi Tahu (Hawke&rsquo;s Bay and Wairarapa)</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngai Tahu (Hawke&#39;s Bay and Wairarapa)</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāi Tahu (South Island)</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngai Tahu (South Island)</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāi Tahupō</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngai Tahupo</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāi Tai</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngai Tai</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāi Tāmanuhiri</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngai Tamanuhiri</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāi Te Rangi</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngai Te Rangi</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāi Te Rangihouhiri</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngai Te Rangihouhiri</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāi Te Upokoiri</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngai Te Upokoiri</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāi Tūmapuhiārangi</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngai Tumapuhiarangi</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Apa</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Apa</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Awa</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Awa</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Hauā</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Haua</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Hāuaroa</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Hauaroa</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Hāua-te-rangi</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Haua-te-rangi</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Hauiti</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Hauiti</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Hine (Northland)</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Hine (Northland)</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Hine (Waikato)</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Hine (Waikato)</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Hine (Whanganui)</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Hine (Whanganui)</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Hineuru</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Hineuru</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Ira</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Ira</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Kahu</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Kahu</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Kahukura-awhitia</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Kahukura-awhitia</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Kahungunu</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Kahungunu</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Kauwhata</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Kauwhata</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Kinohaku</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Kinohaku</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Kōata</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Koata</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Konohi</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Konohi</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Korokī</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Koroki</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Kuia</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Kuia</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Kura</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Kura</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Kurī</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Kuri</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Māhanga (Waikato)</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Mahanga (Waikato)</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Mahuta</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Mahuta</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Māmoe</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Mamoe</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Maniapoto</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Maniapoto</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Manu</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Manu</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Manu (Hauraki)</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Maru (Hauraki)</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Manu (Taranaki)</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Maru (Taranaki)</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Moe</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Moe</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Mōtai</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Motai</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Mutunga</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Mutunga</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Pahauwera</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Pahauwera</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Pāmoana</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Pamoana</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Pāoa</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Paoa</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Pikiao</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Pikiao</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Porou</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Porou</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Pou</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Pou</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Pūkeko</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Pukeko</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Pūkenga</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Pukenga</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Putānga</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Putaanga</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Rākaipaaka</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Rakaipaaka</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Ranginui</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Ranginui</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Rangitihi</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Rangitihi</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Rangiwewehi</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Rangiwewehi</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Raukawa</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Raukawa</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Ruakā</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Ruaka</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Ruanui</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Ruanui</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Ruapani</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Ruapani</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Tama</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Tama</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Tamaterā</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Tamatera</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Tarāwhai</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Tarawhai</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Te Ata</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Te Ata</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Te Tākinga</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Te Takinga</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Te Whatuiāpiti</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Te Whatuiapiti</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Tīpā</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Tipa</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Toa (short version) / Ngāti Toa Rangatira</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Toa</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Tūwharetoa</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Tuwharetoa</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Uenukukōpako</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Uenukukopako</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Uepōhatu / Uepōhatu</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Uepohatu</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Wāhiao (a Te Arawa iwi)</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Wahiao</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngātiwai</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngatiwai</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Whakaue</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Whakaue</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Whanaunga</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Whanaunga</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Ngāti Whātua</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Ngati Whatua</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Rākaiwhakairi</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Rakaiwhakairi</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Rangitāne</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Rangitane</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Rongowhakaata</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Rongowhakaata</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Rongomaiwahine</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Rongomaiwahine / Ngati Rongomaiwahine</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Tapuika</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Tapuika</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Taranaki</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Taranaki</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Aitanga-a-Hauiti</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Aitanga-a-Hauiti</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Aitanga-a-Māhaki</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Aitanga-a-Mahaki</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Aowera</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Aowera</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Arawa</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Arawa</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Āti Awa</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Ati Awa</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Āti Haunui-a-Pāpārangi</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Ati Haunui-a-Paparangi</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Aupōuri</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Aupouri</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Kawerau-a-Maki</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Kawerau a Maki</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Parawhau</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Parawhau</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Rarawa</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Rarawa</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Roroa</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Roroa</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Rūnanga o Makaawhio</p>

			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Runanga O Makaawhio</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Uri-o-Hau</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Uri-o-Hau</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Wai-o-Hua</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Wai-o-Hua</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Whakatōhea</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Whakatohea</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Whānau-a-Apanui</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Whanau-a-Apanui</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Whānau-a-Hinetāpora</p>
			</td>
			<td style="height:27px; width:201px">
			<p>A hapū of Ngāti Porou, based at their marae, Mangahānea (east of Ruatōrea)</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Whanau-a-Hinetapora</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Whānau-a-Ruataupare</p>
			</td>
			<td style="height:27px; width:201px">
			<p>A hapū of Ngāti Porou, based in Tokomaru Bay</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Whanau-a-Ruataupare</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Te Whānau-a-Umuariki</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Te Whanau a Umu Ariki</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Tītahi (a Taranaki iwi/hapū)</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Titahi</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Tūhoe</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Tuhoe</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Tūhourangi (a Te Arawa iwi)</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Tuhourangi</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Waikato</p>
			</td>
			<td style="height:27px; width:201px">
			<p>Tainui tribe based on the banks of the Waikato river</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Waikato</s></p>
			</td>
		</tr>
		<tr>
			<td style="height:27px; width:228px">
			<p>Waitaha</p>
			</td>
			<td style="height:27px; width:201px">
			<p>&nbsp;</p>
			</td>
			<td style="height:27px; width:228px">
			<p><s>Waitaha</s></p>
			</td>
		</tr>
	</tbody>
</table>

