---
layout: default
---
{{ content }}
<!-- ############# Updateable content goes under this line -->
<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th style="width:271px">
			<p><strong>Name</strong></p>
			</th>
			<th style="width:234px">
			<p><strong>Comments</strong></p>
			</th>
			<th style="width:136px">
			<p><strong>Level</strong></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:271px">
			<p>Amokura Gallery</p>
			</td>
			<td style="width:234px">
			<p>Always put &lsquo;Admission charges apply&rsquo; on a separate line.</p>

			<p>This gallery used to be The TOWER Gallery, then the Visa Platinum Gallery.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Amphitheatre | Tapere i Waho</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1, near <em>Bush City</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Anchor Lift</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1 to 2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Angus Room 1, Angus Room 2</p>
			</td>
			<td style="width:234px">
			<p>Venue.</p>
			</td>
			<td style="width:136px">
			<p>3, Te Huinga Centre</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Art Landing | Te Tauranga</p>
			</td>
			<td style="width:234px">
			<p>Toi Art information space.</p>
			</td>
			<td style="width:136px">
			<p>5</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Art Studio: Colour | Papa Toi: Kōpere</p>
			</td>
			<td style="width:234px">
			<p>Toi Art activity space.</p>
			</td>
			<td style="width:136px">
			<p>5</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Blue Whale</p>
			</td>
			<td style="width:234px">
			<p>This venue has two meeting rooms.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><em>Bush City</em></p>
			</td>
			<td style="width:234px">
			<p>Note that this is considered an exhibition, hence the italics.</p>
			</td>
			<td style="width:136px">
			<p>1 and 2, outside</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Bush City Centre</p>
			</td>
			<td style="width:234px">
			<p>This used to be Bush City Kiosk.</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Bush City Lift</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1 to 2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Coats, Bags | Koti, Pēke</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Coffee kiosk | Toa Kawhe</p>
			</td>
			<td style="width:234px">
			<p>Inside Toa Tamaraki, the store for kids</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Community Gallery</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Discovery Centres</p>
			</td>
			<td style="width:234px">
			<p>Te Papa Moana | PlaNet Pasifika and Te Huka ā Tai.</p>

			<p>There used to be two more: NatureSpace and Inspiration Station.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>dockway</p>
			</td>
			<td style="width:234px">
			<p>Loading bay &ndash; not in dictionary, but commonly used by staff</p>
			</td>
			<td style="width:136px">
			<p>1</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Entrance | Ara ki Roto</p>
			</td>
			<td style="width:234px">
			<p>Use &lsquo;Entrance&rsquo; when referring to the specific place, eg, &lsquo;Meet at the Entrance&rsquo;. Use &lsquo;entrance&rsquo; when mentioning this area casually, eg, &lsquo;at the Cable Street entrance&rsquo; or &lsquo;Access to the building is at ground level through the main entrance&rsquo;.</p>
			</td>
			<td style="width:136px">
			<p>1</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Entrance Lift</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1 to 4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Espresso | Kawhe Kutētē</p>
			</td>
			<td style="width:234px">
			<p>Was Level 4 Espresso.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Euan and Ann Sinclair Gallery | Te Wharetoi o Euan and Ann Sinclair</p>
			</td>
			<td style="width:234px">
			<p>The &lsquo;and&rsquo; can be abbreviated to &lsquo;&amp;&rsquo;.</p>
			</td>
			<td style="width:136px">
			<p>5, by Main Lifts</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Food Service Lift</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Gateway | Waharoa</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2, Wellington Foyer</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Goods Lift</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>Green Room | Rūma Kākāriki</s></p>
			</td>
			<td style="width:234px">
			<p>No longer in use.</p>
			</td>
			<td style="width:136px">
			<p>4, near Te Marae</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Hector Room</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>Tory St</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Herbarium</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Hīnātore | Learning Lab</p>
			</td>
			<td style="width:234px">
			<p>Can be abbreviated to Hīnātore after first mention.</p>

			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4, access through <em>Tangata o le Moana</em>.</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Hinetītama</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4, Te Marae</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>ICON</p>
			</td>
			<td style="width:234px">
			<p>This venue is all upper case.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>Ilott Room</s></p>
			</td>
			<td style="width:234px">
			<p>This gallery exhibition space no longer exists.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Information Desk | Tēpu Pārongo</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>Inspiration Station</s></p>
			</td>
			<td style="width:234px">
			<p>This Discovery Centre no longer exists.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Iwi Gallery | Whakaaturanga ā-Iwi</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>Level 4 Workshop | Toa Mahi</s></p>
			</td>
			<td style="width:234px">
			<p>Now Hīnātore | Learning Lab. &nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>Mahuki</s></p>
			</td>
			<td style="width:234px">
			<p>This innovation hub no longer exists.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Main Lifts | Ararewa Matua</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2 to 6</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Main Stairs</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1 to 2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Marae Lift</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2 to 4 (no 3)</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>NatureSpace</s></p>
			</td>
			<td style="width:234px">
			<p>This Discovery Centre no longer exists.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Ngā Kākahu o Papatūānuku</p>
			</td>
			<td style="width:234px">
			<p>This is part of Rongomaraeroa.</p>
			</td>
			<td style="width:136px">
			<p>Iwi planting on east side of building</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Oceania</p>
			</td>
			<td style="width:234px">
			<p>This is a venue.</p>
			</td>
			<td style="width:136px">
			<p>3</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Parents&rsquo; Room | Rūma Mātua</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2, 4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>PlaNet Pasifika</p>
			</td>
			<td style="width:234px">
			<p>This is a Discovery Centre.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Rangimarie Room 1, Rangimarie Room 2, Rangimarie Room 3</p>
			</td>
			<td style="width:234px">
			<p>These are venues.</p>
			</td>
			<td style="width:136px">
			<p>3, <s>Vodafone</s></p>

			<p>Te Huinga Centre<br />
			&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Red Gates Bar | Pae Inu Kēti Whero</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1, outside</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Rongomaraeroa</p>
			</td>
			<td style="width:234px">
			<p>This is the whole marae, including Te Ara a Hine (internal marae ramp), Te Ara a Tāne (external marae ramp), Ngā Kākahu o Papatūānuku iwi planting (&rsquo;cloak of green&rsquo;), Ranginui (glass door onto the marae), Te Ngutu Wairua (entrance dedicated to Te Āti Awa), the marae ātea (space in front of the marae), the waharoa (gateway), and the pūwhara (lookout).</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Soundings Theatre</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>StoryPlace | Te Papa Pūrākau</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>Tai Awatea | Knowledge Net</s></p>
			</td>
			<td style="width:234px">
			<p>This multimedia database is now available only on <a href="http://kupenga/reference/Pages/TaiAwatea.aspx">Kupenga</a>.</p>

			<p>Previously it was on computers throughout the museum.</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Aka Matua Reading Room</p>
			</td>
			<td style="width:234px">
			<p>(Te Aka Matua Research Library still exists as an entity but is distributed around the museum.)</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>Te Ihomatua Gallery</s></p>
			</td>
			<td style="width:234px">
			<p>This gallery no longer exists.</p>

			<p>The blurb for the introduction to this gallery was:</p>

			<p>&nbsp;</p>

			<p>&lsquo;Te Ihomatua&rsquo; &ndash; the mind, the source of all thought and expression, a place of inspiration, contemplation, and reflection. &lsquo;Iho&rsquo; also speaks of the essence of things, and of connections &ndash; between people, across cultures, and through the generations.&rsquo;</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Ara a Hine</p>
			</td>
			<td style="width:234px">
			<p>This is the internal marae ramp.</p>
			</td>
			<td style="width:136px">
			<p>2, leading to stairs</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Ara a Hine Stairs</p>
			</td>
			<td style="width:234px">
			<p>These are the internal marae stairs.</p>
			</td>
			<td style="width:136px">
			<p>2 to 4 (no 3)</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Ara a Tāne</p>
			</td>
			<td style="width:234px">
			<p>This is the external marae ramp.</p>
			</td>
			<td style="width:136px">
			<p>1 to 4 (no 2, 3)</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Hau ki Turanga</p>
			</td>
			<td style="width:234px">
			<p>This is the wharenui (meeting house) in <em>Mana Whenua</em>.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Hono ki Hawaiki</p>
			</td>
			<td style="width:234px">
			<p>This is the wharenui on Te Marae.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Huinga Centre</p>
			</td>
			<td style="width:234px">
			<p>This was the Vodafone Centre</p>
			</td>
			<td style="width:136px">
			<p>3</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Huka ā Tai</p>
			</td>
			<td style="width:234px">
			<p>This is a Discovery Centre.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Marae</p>
			</td>
			<td style="width:234px">
			<p>This is the central marae space.<br />
			Use a capital &lsquo;Te&rsquo;, including<br />
			mid-sentence.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Papa caf&eacute; | Te Papa Kai</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>Te Papa Kids&rsquo; Store</s></p>
			</td>
			<td style="width:234px">
			<p>Now called Toa Tamariki.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Papa Plaza</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1, outside the Entrance</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Papa Store | Te Papa Toa</p>
			</td>
			<td style="width:234px">
			<p>General shop.</p>
			</td>
			<td style="width:136px">
			<p>1</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Tākinga</p>
			</td>
			<td style="width:234px">
			<p>This is the pātaka (storehouse) beside Te Hau ki Turanga wharenui (meeting house).</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Tūranga | Art Foyer</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Team Te Papa Entrance</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Textiles | Rūma Kaka</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>The Deep Ride</s></p>
			</td>
			<td style="width:234px">
			<p>This was part of <em>OurSpace</em>.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>The High Ride</s></p>
			</td>
			<td style="width:234px">
			<p>This was part of <em>OurSpace</em>.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>The Map</s></p>
			</td>
			<td style="width:234px">
			<p>This was part of <em>OurSpace</em>.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>The Wall</s></p>
			</td>
			<td style="width:234px">
			<p>This was part of <em>OurSpace</em>.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Tiger Moth Lift</p>
			</td>
			<td style="width:234px">
			<p>(Tiger Moth no longer there though.)</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Toa Tamariki</p>
			</td>
			<td style="width:234px">
			<p>Store for kids.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Treaty Stairs</p>
			</td>
			<td style="width:234px">
			<p>These go upwards from the Treaty exhibition.</p>
			</td>
			<td style="width:136px">
			<p>4 to mezzanine</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Viewing Terrace | Pae Tirohanga</p>
			</td>
			<td style="width:234px">
			<p>This was called Sculpture Terrace.</p>
			</td>
			<td style="width:136px">
			<p>6</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Wall Pool</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1, near <em>Bush City</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>wayfinding kiosks</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>throughout the museum</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Wellington Foyer | Te Papa o Pōneke</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Whare Toi | Art Studio</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>5, in Toi Art</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>X-ray Room</s></p>
			</td>
			<td style="width:234px">
			<p>This space is now part of Te Taiao.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
	</tbody>
</table>

<h2>&nbsp;&nbsp;</h2>
<h2>Te Papa exhibitions and stand-alone exhibits</h2>

<h3><a name="_Toc397851064"></a><a name="_Toc397850662"></a><a name="_Toc397850232">Case</a></h3>

<p>Te Papa style is to use title case for exhibition names in running text (regardless of how they are presented graphically):<br />
<strong>Main</strong> <strong>Exhibition Name in Title Case: Tagline in Title Case</strong></p>

<p>Title case means initial capitals for all main words.</p>

<p>(Before 2016, we used sentence case for exhibition taglines &ndash; thus the inconsistency in titles listed below. Sentence case means initial capitals for the first word and proper nouns.)</p>

<p>Use a colon (not an en dash) between the main title and tagline.</p>

<p>If the exhibition has English and Māori names that work together, use a vertical slash (or &lsquo;pipe&rsquo;) between them rather than a colon.</p>

<p><em>Blood Earth Fire | Whāngai Whenua Ahi Kā</em></p>

<p><em>Whales </em><em>│Tohorā</em></p>

<h3><a name="_Toc397851065"></a><a name="_Toc397850663"></a><a name="_Toc397850233">Italics</a></h3>

<p>Use italics for the names of exhibitions, except stand-alone exhibits like the Britten motorbike, the <em>Endeavour</em> cannon (<em>Endeavour</em> is in italics because it&rsquo;s a ship name), and Phar Lap.</p>

<h3><a name="_Toc397851066"></a><a name="_Toc397850664"></a><a name="_Toc397850234">Translations</a></h3>

<p>All exhibitions from 2013 have had Māori translations &ndash; these come first in exhibitions but are placed second in the list below to aid searchability. Do not translate earlier exhibition names.</p>

<p>In English marketing text, use both only where it makes sense to do so. Don&rsquo;t do so where the title would get too long and complicate the message. As an example, don&rsquo;t use <em>Gallipoli: The scale of our war | Karipori: Te Pakanga Nui</em>. Instead use <em>Gallipoli: The scale of our war</em>. In Māori marketing text, use the Māori version.</p>

<h3><a name="_Toc397851067"></a><a name="_Toc397850665"></a><a name="_Toc397850235">Exhibitions</a></h3>

<p>The table below includes past and present exhibitions. Short-term art exhibitions are not included.<br />
&nbsp;</p>


<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:631px">
			<p><em>A Day in Pompeii</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>A Fashionable Line: The other life of Kate Coolahan</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>A Garden</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>A loss, again</em></p>

			<p>(Sentence case because an individual work on the Viewing Terrace)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Aainaa: Reflections through Indian weddings</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Active Land | Whakarūaumoko</em></p>

			<p>(in Te Taiao | Nature zone)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Air New Zealand 75 Years: Our nation. The world. Connected</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Angels &amp; Aristocrats: Early European art in New Zealand public collections</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Anne Frank: A history for today</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Annie Bonza: Fashion explosion</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Antarctic Heroes: The race to the South Pole</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Awesome Forces</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Azog&trade; the Defiler</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Aztecs: Conquest and glory</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Blood Earth Fire | Whāngai Whenua Ahi Kā</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Brian Brake: Lens on the world</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Britten Bike</em> | <em>Motupaika Hautipua</em> (or when a stand-alone exhibit: Britten motorbike)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Bug Lab</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Buller&rsquo;s Birds: The art of Keulemans and Buchanan</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Bush City | Te Ngahere</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Cezanne to Picasso: Paintings from the Julian and Josie Robertson Collection, New York</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Chairman Mao&rsquo;s Cloak</em></p>

			<p>(Matariki display, 2013)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Changing Impressions: Selected German and French prints, 1885&ndash;1950</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>CHINA </em>(overall branding for both China shows)</p>

			<p><em>Throne of Emperors</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>CHINA </em>(overall branding for both China shows)</p>

			<p><em>Shi Lu: A revolution in paint</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Colin McCahon: Four paintings</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Collecting Contemporary</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Colour &amp; Light: Impressionism from France &amp; America</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Colours: Moments in fashion</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Conflict and Identity programme</p>

			<p>(This is not an exhibition but a programme, so it doesn&rsquo;t take italics.)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Constable: Impressions of land, sea, and sky</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Contraception: Uncovering the collection of Dame Margaret Sparrow</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Corals</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Culture Moves! Dance costumes of the Pacific</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Curators&rsquo; Choice: 21 Things | Kei te Kairauhī: 21 Taonga</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>DeCLASSIFIED! Nature&rsquo;s secrets exposed at Te Papa | Huakina! He kura taiao i whākina ki Te Papa</em><br />
			(Note the capitalisation of the English main title.)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Deep NZ: Our underwater wilderness</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Dinosaurs from China</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Drawn from Italy: Mantegna to Kauffmann</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>DreamWorks Animation: The Exhibition</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Duty Calls! War posters of World War II</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Dynamism and Colour: British linocuts of the 1930s</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Earthquake House</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Egypt: Beyond the tomb</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Endeavour</em> cannon and de Surville&rsquo;s anchor</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Enriching Fashion: An eye for detail</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>E Tū Ake: Standing Strong</em></p>

			<p>(Capital &lsquo;S&rsquo; for &lsquo;Strong&rsquo; because not really a tagline but part of main name &ndash; the colon would normally be a vertical slash in this case.)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>European Master Prints: The founding gift of Bishop Monrad</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>European Masters: 19th&ndash;20th century art from the St</em><em>&auml;del Museum</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Faraway Places: 19th century travel photography</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Flowers and Foliage</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Formula One</em><em>&trade;: The great design race</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Gallipoli: The scale of our war | Karipori: Te Pakanga Nui</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Game Masters: The exhibition</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>G&eacute;ricault to Gauguin: Printmaking in France 1820&ndash;1900</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Golden Days </em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Guardians | Ngā Kaitiaki </em></p>

			<p>(in Te Taiao | Nature zone)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Henry Moore: Journey through form</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Hinepūtehue: The peaceful companion</em></p>

			<p>(Matariki display, 2013)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Holbein to Hockney: Drawings from the Royal Collection</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Impressions of France: French prints 1850&ndash;1900</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>James Nairn: A Scottish impressionist in Wellington</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Jewelled: Adornments from across the Pacific</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Jim Allen: A sensory experience</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>John Kinder&rsquo;s New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Judy Darragh: So &hellip; you made it?</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Kāhui Raranga: The art of tukutuku </em></p>

			<p><em>New Zealand&rsquo;s heart at the United Nations</em></p>

			<p>(We didn&rsquo;t have any say about this title, but we don&rsquo;t need to include the second line in marketing)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Kahu Ora </em><em>| Living Cloaks</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Kiri&rsquo;s Dresses: A glimpse into a diva&rsquo;s wardrobe</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Ko Rongowhakaata: The Story of Light and Shadow | Ko Rongowhakaata: Ruku i te Pō, Ruku i te Ao</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Kura Pounamu: Treasured stone of Aotearoa New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Let&rsquo;s Go Build: A Festival for LEGO Lovers</em></p>

			<p>(touring exhibition)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Letter Man: Joseph Churchward&rsquo;s world of type</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Made in New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mai i te aroha, ko te aroha </em>(Lisa Reihana installation in Te Ara a Hine)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mana Pasifika</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mana Whenua</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mary-Annette Hay: Queen of Wool</em></p>

			<p>(Capital &lsquo;W&rsquo; for &lsquo;Wool&rsquo; because part of a nickname)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Matau: Traditional hooks, innovative designs</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Michael Parekowhai: Venice Biennale</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Middle of Middle-earth Costume Trail (Wellington-wide)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mō Tātou: The Ngāi Tahu Whānui exhibition</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mollie Rodie: Carnival queen</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Monet and the Impressionists</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mountains to Sea</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Moving Towards a Balanced Earth: Kick the carbon habit</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Nest | Te Kōhanga</em></p>

			<p>(in Te Taiao | Nature zone)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>New Visions, New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>New Zealand at the Venice Biennale 2009</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>New Zealand in Bloom: The commercial art of Bernard Roundhill</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>New Zealand in Vogue</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Ngā Toi </em><em>| Arts Te Papa</em></p>

			<p>(From Feb 2018: Toi Art)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Ngā Toko Rima: Contemporary clayworks</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>NZ Fossils: Dead precious!</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Oceania: Early encounters </em>(Te Papa) and<em> Oceania: Imagining the Pacific </em>(City Gallery)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Oddooki</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>On the Sheep&rsquo;s Back</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Our Miss Universe Lorraine Downes</em></p>

			<p>(Showcase alongside <em>The WOW Factor</em>)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>OurSpace | Tō Tātou Ātea</em></p>

			<p>&nbsp;&nbsp;&nbsp; The Map</p>

			<p>&nbsp;&nbsp;&nbsp; The Wall</p>

			<p>&nbsp;&nbsp;&nbsp; The Deep</p>

			<p>&nbsp;&nbsp;&nbsp; The High Ride</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Out on the Street: New Zealand in the 1970s</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Painting the View</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Paperskin: The art of tapa cloth</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Passports | Uruwhenua</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Past Presents: Looking into the art collection</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Peter Snell: Medal-Winning Magic</em></p>

			<p>(hotspot)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Peter Stichbury: A potter&rsquo;s world</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Picturing Sāmoa: Photos by Thomas Andrew</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Phar Lap</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Precious Metals</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Quake Braker | Whakangāwari Rū</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Qui Tutto Bene: The Italians in New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Rā Maumahara | New Zealand Wars</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Rātana: The Healing Faith | Rātana: Te Kaiwhakaora</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Reactive Architecture: Smart buildings respond to the environment</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Remember: The Canterbury earthquakes | Kia Mahara: Te Rū ki Waitaha</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Rita Angus: Life &amp; Vision</em></p>

			<p>(For some reason, the tagline was title case in this instance)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Road to Recovery: Disabled soldiers of World War I | Te Ara Haumanu: Ngā hōia hauā o Te Pakanga Tuatahi</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Rugby Legends: The Spirit of the Black Jersey</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Shawls: The elegant drape</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Shi Lu: A revolution in paint</em></p>

			<p><em>CHINA </em>to be included as overall branding before the title above</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Shrek the Sheep: A lovable southern rogue | Shrek te Hipi: He kotahi nā te 30 miriona</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Signs and Wonders </em>|<em> He Tohu He Ohorere</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Signs of a Nation</em></p>

			<p>(old title; exhibition was refreshed. See <em>Treaty of Waitangi</em>)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Slice of Heaven: 20th Century Aotearoa </em></p>

			<p>(&lsquo;Century&rsquo; breaks the sentence-case tagline rule so that it doesn&rsquo;t stand out as the only lower-case word sandwiched between two upper-case ones)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Small World, Big Town: Contemporary art from Te Papa</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Space: A galaxy of adventure</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Splendours of Japan</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Stamped: Celebrating New Zealand&rsquo;s postal history</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Starving for the vote</em></p>

			<p>(hotspot)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Tai timu, tai pari, Tainui: Journey of a people</em></p>

			<p>(acceptable to shorten to<em> Tainui: Journey of a people </em>in marketing text)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Tangata o le Moana: The story of Pacific people in New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Tapa: Pacific style</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Te Ātiawa iwi exhibition</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Te Aupouri Iwi: People of smoke and flame</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Te Awa Tupua: The Whanganui iwi</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Te Taiao | Nature</p>

			<p>(a zone, not an exhibition)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Berry Boys: Naming the Kiwi faces of World War I</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Big O.E.</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Colossal Squid</em></p>

			<p>(name of an exhibition, now closed)</p>

			<p>The Colossal Squid</p>

			<p>(when discussing the display within Te Taiao; like &lsquo;Earthquake House&rsquo;)</p>

			<p>the colossal squid</p>

			<p>(when discussing the specimen)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Genetic Revolution</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Lord of the Rings Motion Picture Trilogy: The Exhibition</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Lure of Italy: Continental travel pictures from 1775 to 1840</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Mixing Room: Stories from young refugees in New Zealand | Ngā Manene</em></p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:631px">
			<p><em>The Poisoners! Solver the murder if you dare &hellip;</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Scots in New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Te Pahi Medal: Forged in Friendship</em></p>

			<p>(hotspot)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Time Warp</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Very Sensible Fred Dagg</em></p>

			<p>(hotspot)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The WOW Factor: 25 years in the making</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Theo Schoon: Opening the archive</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Throne of Emperors</em></p>

			<p><em>CHINA </em>to be included as overall branding before the title above</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Tiger Moth</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Toi Art</p>

			<p>(Note absence of italics. Until Feb 2018 was: <em>Ngā Toi </em><em>| Arts Te Papa</em>)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Toi Te Papa Art of the Nation</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Toss Woollaston: Family and friends</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Treaty 2U</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Treaty of Waitangi: Signs of a nation | Te Tiriti o Waitangi: Ngā tohu kotahitanga</em></p>

			<p>(Note the addition of the keywords &lsquo;Treaty of Waitangi&rsquo; to the title as of February 2015.)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Tūhoe: Children of the mist</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Tyrannosaurs &ndash; Meet the Family</em></p>

			<p>(Doesn&rsquo;t follow usual TP style as from Australian Museum)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Uniformity: Cracking the dress code</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Unique NZ | Te Ika Whenua</em></p>

			<p>(in Te Taiao | Nature zone)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Unveiled: 200 years of wedding fashion from the Victoria and Albert Museum, London</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Walter Cook: A collector&rsquo;s quest</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Warhol: Immortal</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>We are unsuitable for framing</em></p>

			<p>(Sentence-case title because the exhibition is named after a specific work)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Wedding Dress</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Whales </em><em>│Tohorā</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Wild Design</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Whiti Te Rā! The story of Ngāti Toa Rangatira</em></p>

			<p>(Graphic ID went through with cap T in main title, so going with that!)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Wings: Nature&rsquo;s flying machines </em>|<em> Hua rere a te taiao</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Wonderland | Te Ao Mīharo</em></p>

			<p>(touring exhibition from ACMI (Australian Centre for the Moving Image))</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>You Called Me What?! 150 years of scientific discovery at Te Papa</em></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<div>
<hr /></div>
