---
layout: default
---
{{ content }}
<!-- ############# Updateable content goes under this line -->

<table border="1" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th style="width:271px">
			<p><strong>Name</strong></p>
			</th>
			<th style="width:234px">
			<p><strong>Comments</strong></p>
			</th>
			<th style="width:136px">
			<p><strong>Level</strong></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:271px">
			<p>Amokura Gallery</p>
			</td>
			<td style="width:234px">
			<p>Always put &lsquo;Admission charges apply&rsquo; on a separate line. (This gallery used to be The TOWER Gallery, then the Visa Platinum Gallery.)<a href="#_msocom_1" id="_anchor_1" name="_msoanchor_1">[VC1]</a>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Amphitheatre | Tapere i Waho</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1, near <em>Bush City</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Anchor Lift</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Angus Room 1, Angus Room 2</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>3, Vodafone Centre</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Blue Whale</p>
			</td>
			<td style="width:234px">
			<p>This venue space has two meeting rooms</p>
			</td>
			<td style="width:136px">
			<p>2<a href="#_msocom_2" id="_anchor_2" name="_msoanchor_2">[VC2]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><em>Bush City</em></p>
			</td>
			<td style="width:234px">
			<p>Note that this is considered an exhibition, hence the italics.</p>
			</td>
			<td style="width:136px">
			<p>1 and 2, outside</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Bush City Centre</p>
			</td>
			<td style="width:234px">
			<p>This used to be Bush City Kiosk.</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Bush City Lift</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Coats, Bags | Koti, Pēke</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Community Gallery</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Discovery Centres</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2 and 4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>dockway</p>
			</td>
			<td style="width:234px">
			<p>Loading bay &ndash; not in dictionary, but commonly used by relevant staff</p>
			</td>
			<td style="width:136px">
			<p>1<a href="#_msocom_3" id="_anchor_3" name="_msoanchor_3">[VC3]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Entrance | Ara ki Roto</p>
			</td>
			<td style="width:234px">
			<p>Use &lsquo;Entrance&rsquo; when referring to the specific place, eg, &lsquo;Meet at the Entrance&rsquo;. Use &lsquo;entrance&rsquo; when mentioning this area casually, eg, &lsquo;at the Cable Street entrance&rsquo; or &lsquo;Access to the building is at ground level through the main entrance&rsquo;.</p>
			</td>
			<td style="width:136px">
			<p>1</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Entrance Lift</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Espresso<a href="#_msocom_4" id="_anchor_4" name="_msoanchor_4">[VC4]</a>&nbsp; | Kawhe Kutētē</p>
			</td>
			<td style="width:234px">
			<p>Was Level 4 Espresso</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Eyelights</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Food Service Lift</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Gateway | Waharoa</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2, Wellington Foyer</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Goods Lift</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Green Room | Rūma Kākāriki</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4, near Te Marae</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Hector Room</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>Tory St<a href="#_msocom_5" id="_anchor_5" name="_msoanchor_5">[VC5]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Herbarium</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Hine-tītama</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4, Te Marae</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>ICON</p>
			</td>
			<td style="width:234px">
			<p>This venue is all upper case.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Ilott Room</p>
			</td>
			<td style="width:234px">
			<p>This used to be The Ilott Centre.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Information Desk | Tēpu Pārongo</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Inspiration Station</p>
			</td>
			<td style="width:234px">
			<p>This is a Discovery Centre.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Iwi Gallery | Whakaaturanga ā-Iwi</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Level 4 Workshop | Toa Mahi</p>
			</td>
			<td style="width:234px">
			<p>Accessible through <em>Tangata o le Moana.</em></p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Main Lifts | Ararewa Matua</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2, Wellington Foyer</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Main Stairs</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1, Wellington Foyer</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Marae Lift</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>NatureSpace</p>
			</td>
			<td style="width:234px">
			<p>This is a Discovery Centre.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Ngā Kākahu o Papatūānuku</p>
			</td>
			<td style="width:234px">
			<p>This is part of Rongomaraeroa.</p>
			</td>
			<td style="width:136px">
			<p>Iwi planting</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Oceania</p>
			</td>
			<td style="width:234px">
			<p>This is a venue.</p>
			</td>
			<td style="width:136px">
			<p>3</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Parents&rsquo; Room | Rūma Mātua</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2, 4<a href="#_msocom_6" id="_anchor_6" name="_msoanchor_6">[VC6]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Picture Library</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>PlaNet Pasifika</p>
			</td>
			<td style="width:234px">
			<p>This is a Discovery Centre.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Rangimarie Room 1, Rangimarie Room 2, Rangimarie Room 3</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>3, <s>Vodafone</s></p>

			<p>Te Huinga Centre<a href="#_msocom_7" id="_anchor_7" name="_msoanchor_7">[VC7]</a>&nbsp;<br />
			&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Rongomaraeroa</p>
			</td>
			<td style="width:234px">
			<p>This is the whole marae, including Te Ara a Hine (internal marae ramp), Te Ara a Tāne (external marae ramp), Ngā Kākahu o Papatūānuku (iwi planting/&rsquo;cloak of green&rsquo;), Ranginui (glass door onto the marae), Te Ngutu Wairua (entrance dedicated to Te Āti Awa), the marae ātea (space in front of the marae), the waharoa (gateway), and the pūwhara (lookout).</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Soundings Theatre</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>StoryPlace</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Tai Awatea | Knowledge Net</p>
			</td>
			<td style="width:234px">
			<p>This is the multimedia database, with computers throughout the museum.</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Aka Matua Reading Room</p>

			<p>(Te Aka Matua Research Library still exists as an entity but is distributed around the museum.)</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Ihomatua Gallery</p>
			</td>
			<td style="width:234px">
			<p>The blurb for the introduction to this gallery is:</p>

			<p>&nbsp;</p>

			<p>&lsquo;Te Ihomatua&rsquo; &ndash; the mind, the source of all thought and expression, a place of inspiration, contemplation, and reflection. &lsquo;Iho&rsquo; also speaks of the essence of things, and of connections &ndash; between people, across cultures, and through the generations.&rsquo;</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Ihomatua Stairs</p>
			</td>
			<td style="width:234px">
			<p>Use to be The Boulevard Stairs (when the gallery space above was called The Boulevard) and then Te Aka Matua Stairs (when the library was below).</p>
			</td>
			<td style="width:136px">
			<p>4/5</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Ara a Hine</p>
			</td>
			<td style="width:234px">
			<p>This is the internal marae ramp.</p>
			</td>
			<td style="width:136px">
			<p>start at 2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Ara a Hine Stairs</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>start at 2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Ara a Tāne</p>
			</td>
			<td style="width:234px">
			<p>This is the external marae ramp.</p>
			</td>
			<td style="width:136px">
			<p>start at 1</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Hau ki Turanga</p>
			</td>
			<td style="width:234px">
			<p>This is the wharenui (meeting house) in <em>Mana Whenua</em>.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Hono ki Hawaiki</p>
			</td>
			<td style="width:234px">
			<p>This is the wharenui on Te Marae.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Huinga Centre</p>
			</td>
			<td style="width:234px">
			<p>This was the Vodafone Centre</p>
			</td>
			<td style="width:136px">
			<p>3<a href="#_msocom_8" id="_anchor_8" name="_msoanchor_8">[VC8]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Huka ā Tai</p>
			</td>
			<td style="width:234px">
			<p>This is a Discovery Centre.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Marae</p>
			</td>
			<td style="width:234px">
			<p>This is the central marae space.<br />
			Use a capital &lsquo;Te&rsquo;, including<br />
			mid-sentence.</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Papa Cafe</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Papa Education<span style="color:black"> | </span>Te Ipu Kāhui Rangi</p>
			</td>
			<td style="width:234px">
			<p>.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>Te Papa Kids&rsquo; Store</s></p>
			</td>
			<td style="width:234px">
			<p>Closed; now Te Papa Store Level 2</p>
			</td>
			<td style="width:136px">
			<p><s>2</s><a href="#_msocom_9" id="_anchor_9" name="_msoanchor_9">[VC9]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Papa Plaza</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1, outside the Entrance</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Papa Online Store<a href="#_msocom_10" id="_anchor_10" name="_msoanchor_10">[VC10]</a>&nbsp;</p>

			<p>Te Papa Store, Level 1</p>

			<p>Te Papa Store, Level 2</p>

			<p>Te Papa Store, Level 5</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>

			<p>General</p>

			<p>Books</p>

			<p>Arts focus</p>
			</td>
			<td style="width:136px">
			<p>&nbsp;</p>

			<p>1</p>

			<p>2</p>

			<p>5<a href="#_msocom_11" id="_anchor_11" name="_msoanchor_11">[VC11]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Te Tākinga</p>
			</td>
			<td style="width:234px">
			<p>This is the pātaka (storehouse) beside Te Hau ki Turanga wharenui (meeting house).</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Team Te Papa Entrance</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Textiles | Rūma Kaka</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4, beside the Ilott Room</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>The Deep Ride</s></p>
			</td>
			<td style="width:234px">
			<p>This was part of <em>OurSpace</em>.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>The High Ride</s></p>
			</td>
			<td style="width:234px">
			<p>This was part of <em>OurSpace</em>.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>The Map</s></p>
			</td>
			<td style="width:234px">
			<p>This was part of <em>OurSpace</em>.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p><s>The Wall</s></p>
			</td>
			<td style="width:234px">
			<p>This was part of <em>OurSpace</em>.</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Tiger Moth Lift</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Treaty Stairs</p>
			</td>
			<td style="width:234px">
			<p>These go upwards from the Treaty exhibition.</p>
			</td>
			<td style="width:136px">
			<p>start at 4</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Viewing Terrace (was called Sculpture Terrace)</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>6</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Wall Pool</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>1, near <em>Bush City</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>wayfinding kiosks</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>throughout the museum</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Wellington Foyer | Taiwhanga o Pōneke</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>Whare Toi | Arts Studio</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>5<a href="#_msocom_12" id="_anchor_12" name="_msoanchor_12">[VC12]</a>&nbsp;, in <em>Ngā Toi </em><em>| Arts Te Papa</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:271px">
			<p>X-ray Room</p>
			</td>
			<td style="width:234px">
			<p>&nbsp;</p>
			</td>
			<td style="width:136px">
			<p>2, where the whale skeletons are</p>
			</td>
		</tr>
	</tbody>
</table>

<h2>&nbsp;</h2>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:631px">
			<p><em>A Day in Pompeii</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>A Fashionable Line: The other life of Kate Coolahan</em><a href="#_msocom_13" id="_anchor_13" name="_msoanchor_13">[VC13]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>A Garden</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>A loss, again</em></p>

			<p>(Sentence case because an individual work on the Viewing Terrace)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Aainaa: Reflections through Indian weddings</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Air New Zealand 75 Years: Our nation. The</em><a href="#_msocom_14" id="_anchor_14" name="_msoanchor_14">[VC14]</a>&nbsp;<em> world. Connected</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Angels &amp; Aristocrats: Early European art in</em><a href="#_msocom_15" id="_anchor_15" name="_msoanchor_15">[VC15]</a>&nbsp;<em> New Zealand public collections</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Anne Frank: A history for today</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Annie Bonza: Fashion explosion</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Antarctic Heroes: The race to the South Pole</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Awesome Forces</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Azog&trade; the Defiler<a href="#_msocom_16" id="_anchor_16" name="_msoanchor_16">[VC16]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Aztecs: Conquest and glory</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Blood Earth Fire | Whāngai Whenua Ahi Kā</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Brian Brake: Lens on the world</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Britten Bike</em> (or when a stand-alone exhibit: Britten motorbike)<a href="#_msocom_17" id="_anchor_17" name="_msoanchor_17">[VC17]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Buller&rsquo;s Birds: The art of Keulemans and Buchanan</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Bush City</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Cezanne to Picasso: Paintings from the Julian and Josie Robertson Collection, New York</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Chairman Mao&rsquo;s Cloak</em></p>

			<p>(Matariki display, 2013)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Changing Impressions: Selected German and French prints, 1885&ndash;1950</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>CHINA </em>(overall branding for both China shows, including Shi Lu)</p>

			<p><em>Throne of Emperors</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>CHINA </em>(overall branding for both China shows, including Shi Lu)</p>

			<p><em>Shi Lu: A revolution in paint</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Colin McCahon: Four paintings</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Collecting Contemporary</em><a href="#_msocom_18" id="_anchor_18" name="_msoanchor_18">[VC18]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Colour &amp; Light: Impressionism from France &amp; America</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Colours: Moments in fashion</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Conflict and Identity programme</p>

			<p>(This is not an exhibition but a programme, so it doesn&rsquo;t take italics.)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Constable: Impressions of land, sea, and sky</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Contraception: Uncovering the collection of Dame Margaret Sparrow</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Corals</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Culture Moves! Dance costumes of the Pacific</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>DeCLASSIFIED! Nature&rsquo;s secrets exposed at Te Papa<br />
			Huakina! He kura taiao i whākina ki Te Papa</em><br />
			(Please note the capitalisation of the English main title.)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Deep NZ: Our underwater wilderness</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Dinosaurs from China</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Drawn from Italy: Mantegna to Kauffmann</em><a href="#_msocom_19" id="_anchor_19" name="_msoanchor_19">[VC19]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>DreamWorks Animation: The Exhibition</em><a href="#_msocom_20" id="_anchor_20" name="_msoanchor_20">[VC20]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Duty Calls! War posters of World War II</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Dynamism and Colour: British linocuts of the 1930s</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Earthquake House</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Egypt: Beyond the tomb</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Endeavour</em> cannon and de Surville&rsquo;s anchor</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Enriching Fashion: An eye for detail</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>E Tū Ake: Standing Strong</em></p>

			<p>(Capital &lsquo;S&rsquo; for &lsquo;Strong&rsquo; because not really a tagline but part of main name &ndash; the colon would normally be a vertical slash in this case)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>European Master Prints: The founding gift of Bishop Monrad</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>European Masters: 19th&ndash;20th century art from the St</em><em>&auml;del Museum</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Faraway Places: 19th century travel photography</em><a href="#_msocom_21" id="_anchor_21" name="_msoanchor_21">[VC21]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Flowers and Foliage</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Formula One</em><em>&trade;: The great design race</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Gallipoli: The scale of our war</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Game Masters: The exhibition</em><a href="#_msocom_22" id="_anchor_22" name="_msoanchor_22">[VC22]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>G&eacute;ricault to Gauguin: Printmaking in France 1820&ndash;1900</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Golden Days </em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Henry Moore: Journey through form</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Hinepūtehue: The peaceful companion</em></p>

			<p>(Matariki display, 2013)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Holbein to Hockney: Drawings from the Royal Collection</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Impressions of France: French prints 1850&ndash;1900</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>James Nairn: A Scottish impressionist in Wellington</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Jewelled: Adornments from across the Pacific</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Jim Allen: A sensory experience</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>John Kinder&rsquo;s New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Judy Darragh: So &hellip; you made it?</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Kāhui Raranga: The art of tukutuku </em></p>

			<p><em>New Zealand&rsquo;s heart at the United Nations</em></p>

			<p>(We didn&rsquo;t have any say about this title, but we don&rsquo;t need to include the second line in marketing)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Kahu Ora </em><em>| Living Cloaks</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Kiri&rsquo;s Dresses: A glimpse into a diva&rsquo;s wardrobe</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Kura Pounamu: Treasured stone of Aotearoa New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Letter Man: Joseph Churchward&rsquo;s world of type</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Made in New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mai i te aroha, ko te aroha </em>(Lisa Reihana installation in Te Ara a Hine)<a href="#_msocom_23" id="_anchor_23" name="_msoanchor_23">[VC23]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mana Pasifika</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mana Whenua</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mary-Annette Hay: Queen of Wool</em></p>

			<p>(Capital &lsquo;W&rsquo; for &lsquo;Wool&rsquo; because part of a nickname)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Matau: Traditional hooks, innovative designs</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Michael Parekowhai, Colin McCahon, Jim Allen</em><a href="#_msocom_24" id="_anchor_24" name="_msoanchor_24">[VC24]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Michael Parekowhai: Venice Biennale</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Middle of Middle-earth Costume Trail (Wellington-wide)<a href="#_msocom_25" id="_anchor_25" name="_msoanchor_25">[VC25]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mō Tātou: The Ngāi Tahu Whānui exhibition</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mollie Rodie: Carnival queen</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Monet and the Impressionists</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Mountains to Sea</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Moving Towards a Balanced Earth: Kick the carbon habit</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>New Visions, New Zealand</em><a href="#_msocom_26" id="_anchor_26" name="_msoanchor_26">[VC26]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>New Zealand at the Venice Biennale 2009</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>New Zealand in Bloom: The commercial art of Bernard</em><a href="#_msocom_27" id="_anchor_27" name="_msoanchor_27">[VC27]</a>&nbsp;<em> Roundhill</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>New Zealand in Vogue</em><a href="#_msocom_28" id="_anchor_28" name="_msoanchor_28">[VC28]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Ngā Toi </em><em>| Arts Te Papa</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Ngā Toko Rima: Contemporary clayworks</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>NZ Fossils: Dead precious!</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Oceania: Early encounters </em>(Te Papa) and<em> Oceania: Imagining the Pacific </em>(City Gallery)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Oddooki</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>On the Sheep&rsquo;s Back</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Our Miss Universe Lorraine Downes</em></p>

			<p>(Showcase alongside <em>The WOW Factor</em>)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>OurSpace | Tō Tātou Ātea</em></p>

			<p>&nbsp;&nbsp;&nbsp; The Map</p>

			<p>&nbsp;&nbsp;&nbsp; The Wall</p>

			<p>&nbsp;&nbsp;&nbsp; The Deep</p>

			<p>&nbsp;&nbsp;&nbsp; The High Ride</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Out on the Street: New Zealand in the 1970s</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Painting the View</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Paperskin: The art of tapa cloth</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Passports</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Past Presents: Looking into the art collection</em><a href="#_msocom_29" id="_anchor_29" name="_msoanchor_29">[VC29]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Peter Stichbury</em><a href="#_msocom_30" id="_anchor_30" name="_msoanchor_30">[VC30]</a>&nbsp;<em>: A potter&rsquo;s world</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Picturing Sāmoa: Photographs by Thomas Andrew</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Phar Lap</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Precious Metals</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Quake Braker</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Qui Tutto Bene: The Italians in New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Reactive Architecture: Smart buildings respond to the environment</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Remember: The Canterbury earthquakes</em></p>

			<p><em>Kia Mahara: Te Rū ki Waitaha</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Rita Angus: Life &amp; Vision</em></p>

			<p>(For some reason, the tagline was title case in this instance)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Road to Recovery: Disabled soldiers of World War I<br />
			Te Ara Haumanu: Ngā hōia hauā o Te Pakanga Tuatahi</em><a href="#_msocom_31" id="_anchor_31" name="_msoanchor_31">[VC31]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Shawls: The elegant drape</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Shi Lu: A revolution in paint</em></p>

			<p><em>CHINA </em>to be included as overall branding before the title above</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Shrek the Sheep: A lovable southern rogue<br />
			Shrek te Hipi: He kotahi nā te 30 miriona</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Signs and Wonders </em>|<em> He Tohu He Ohorere</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>For<em> Signs of a Nation</em> (title now out of date), please see <em>Treaty of Waitangi</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Slice of Heaven: 20th Century Aotearoa </em></p>

			<p>(&lsquo;Century&rsquo; breaks the sentence-case tagline rule so that it doesn&rsquo;t stand out as the only lower-case word sandwiched between two upper-case ones)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Small World, Big Town: Contemporary art from Te Papa</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Space: A galaxy of adventure</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Splendours of Japan</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Stamped: Celebrating New Zealand&rsquo;s postal history</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Tai timu, tai pari, Tainui: Journey of a people</em></p>

			<p>(acceptable to shorten to<em> Tainui: Journey of a people </em>in marketing text)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Tangata o le Moana: The story of Pacific people in New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Tapa: Pacific style</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Te Ātiawa iwi exhibition</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Te Aupouri Iwi: People of smoke and flame</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Te Awa Tupua: The Whanganui iwi</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Berry Boys: Naming the Kiwi faces of World War I</em><a href="#_msocom_32" id="_anchor_32" name="_msoanchor_32">[VC32]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Big O.E.</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Colossal Squid</em></p>

			<p>(but &lsquo;the colossal squid&rsquo; when referring to the animal rather than the wider exhibition)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Genetic Revolution</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Lord of the Rings Motion Picture Trilogy: The Exhibition</em><a href="#_msocom_33" id="_anchor_33" name="_msoanchor_33">[VC33]</a>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Lure of Italy: Continental travel pictures from 1775 to 1840</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Mixing Room: Stories from young refugees in New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:631px">
			<p><em>The Poisoners! Solver the murder if you dare &hellip;</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Scots in New Zealand</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The Time Warp</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>The WOW Factor: 25 years in the making</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Theo Schoon: Opening the archive</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Throne of Emperors</em></p>

			<p><em>CHINA </em>to be included as overall branding before the title above</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p>Tiger Moth</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Toi Te Papa Art of the Nation</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Toss Woollaston: Family and friends</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Treaty 2U</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Treaty of Waitangi: Signs of a nation </em></p>

			<p><em>Te Tiriti o Waitangi: Ngā tohu kotahitanga</em></p>

			<p>(Please note the addition of the keywords &lsquo;Treaty of Waitangi&rsquo; to the title as of February 2015.)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Tūhoe: Children of the mist</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Tyrannosaurs &ndash; Meet the Family</em></p>

			<p>(Doesn&rsquo;t follow usual TP style as from Australian Museum)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Uniformity: Cracking the dress code</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Unveiled: 200 years of wedding fashion from the Victoria and Albert Museum, London</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Walter Cook: A collector&rsquo;s quest</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Warhol: Immortal</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>We are unsuitable for framing</em></p>

			<p>(Sentence-case title because the exhibition is named after a specific work)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Wedding Dress</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Whales </em><em>│Tohorā</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Wild Design</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Whiti Te Rā! The story of Ngāti Toa Rangatira</em></p>

			<p>(Graphic ID went through with cap T in main title, so going with that!)</p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>Wings: Nature&rsquo;s flying machines </em>|<em> Hua rere a te taiao</em></p>
			</td>
		</tr>
		<tr>
			<td style="width:631px">
			<p><em>You Called Me What?! 150 years of scientific discovery at Te Papa</em></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<div>
<hr />
<div>
<div id="_com_1"><a name="_msocom_1"></a>

<p>&nbsp;<a href="#_msoanchor_1">[VC1]</a>VC Updated 22/10/15</p>
</div>
</div>

<div>
<div id="_com_2"><a name="_msocom_2"></a>

<p>&nbsp;<a href="#_msoanchor_2">[VC2]</a>VC added 18/01/16</p>
</div>
</div>

<div>
<div id="_com_3"><a name="_msocom_3"></a>

<p>&nbsp;<a href="#_msoanchor_3">[VC3]</a>VC added 9/2/16 &ndash; on website</p>
</div>
</div>

<div>
<div id="_com_4"><a name="_msocom_4"></a>

<p>&nbsp;<a href="#_msoanchor_4">[VC4]</a>VC: Deleted &lsquo;Level 4&rsquo;, although this still exists on cafe sign. 31/12/15</p>
</div>
</div>

<div>
<div id="_com_5"><a name="_msocom_5"></a>

<p>&nbsp;<a href="#_msoanchor_5">[VC5]</a>VC Added 10/12/15</p>
</div>
</div>

<div>
<div id="_com_6"><a name="_msocom_6"></a>

<p>&nbsp;<a href="#_msoanchor_6">[VC6]</a>VC added 31/12/15</p>
</div>
</div>

<div>
<div id="_com_7"><a name="_msocom_7"></a>

<p>&nbsp;<a href="#_msoanchor_7">[VC7]</a>VC: Updated 31/12/15</p>
</div>
</div>

<div>
<div id="_com_8"><a name="_msocom_8"></a>

<p>&nbsp;<a href="#_msoanchor_8">[VC8]</a>Added 10/6/15</p>
</div>
</div>

<div>
<div id="_com_9"><a name="_msocom_9"></a>

<p>&nbsp;<a href="#_msoanchor_9">[VC9]</a>VC: Closed. Updated 10/6/15</p>
</div>
</div>

<div>
<div id="_com_10"><a name="_msocom_10"></a>

<p>&nbsp;<a href="#_msoanchor_10">[VC10]</a>VC: Added 11/12/15</p>
</div>
</div>

<div>
<div id="_com_11"><a name="_msocom_11"></a>

<p>&nbsp;<a href="#_msoanchor_11">[VC11]</a>VC: Added 13/11/15</p>
</div>
</div>

<div>
<div id="_com_12"><a name="_msocom_12"></a>

<p>&nbsp;<a href="#_msoanchor_12">[VC12]</a>VC Added 23/03/15</p>
</div>
</div>

<div>
<div id="_com_13"><a name="_msocom_13"></a>

<p>&nbsp;<a href="#_msoanchor_13">[VC13]</a>VC added 31/12/15</p>
</div>
</div>

<div>
<div id="_com_14"><a name="_msocom_14"></a>

<p>&nbsp;<a href="#_msoanchor_14">[VC14]</a>VC corrected 31/12/15</p>
</div>
</div>

<div>
<div id="_com_15"><a name="_msocom_15"></a>

<p>&nbsp;<a href="#_msoanchor_15">[VC15]</a>VC corrected 31/12/15</p>
</div>
</div>

<div>
<div id="_com_16"><a name="_msocom_16"></a>

<p>&nbsp;<a href="#_msoanchor_16">[VC16]</a>VC: Added, but maybe we don&rsquo;t need to. 31/12/15</p>
</div>
</div>

<div>
<div id="_com_17"><a name="_msocom_17"></a>

<p>&nbsp;<a href="#_msoanchor_17">[VC17]</a>VC updated 31/12/15</p>
</div>
</div>

<div>
<div id="_com_18"><a name="_msocom_18"></a>

<p>&nbsp;<a href="#_msoanchor_18">[VC18]</a>VC added 31/12/15</p>
</div>
</div>

<div>
<div id="_com_19"><a name="_msocom_19"></a>

<p>&nbsp;<a href="#_msoanchor_19">[VC19]</a>VC corrected 31/12/15</p>
</div>
</div>

<div>
<div id="_com_20"><a name="_msocom_20"></a>

<p>&nbsp;<a href="#_msoanchor_20">[VC20]</a>VC added 22/10/15</p>
</div>
</div>

<div>
<div id="_com_21"><a name="_msocom_21"></a>

<p>&nbsp;<a href="#_msoanchor_21">[VC21]</a>VC: Added. Tagline could be &lsquo;Travel photography of the 19th century&rsquo; &ndash; I&rsquo;m using the approved text version. Athol isn&rsquo;t sure which it was. 31/12/15</p>
</div>
</div>

<div>
<div id="_com_22"><a name="_msocom_22"></a>

<p>&nbsp;<a href="#_msoanchor_22">[VC22]</a>Added 31/12/15 but maybe it was deliberately not included in this list? Based title on photos of exhibition entrance</p>
</div>
</div>

<div>
<div id="_com_23"><a name="_msocom_23"></a>

<p>&nbsp;<a href="#_msoanchor_23">[VC23]</a>VC: maybe this was too small to merit inclusion here, but it&rsquo;s on our &lsquo;2008 past exhibitions&rsquo; web page.</p>
</div>
</div>

<div>
<div id="_com_24"><a name="_msocom_24"></a>

<p>&nbsp;<a href="#_msoanchor_24">[VC24]</a>VC added 31/12/15, but maybe it was too brief and small to merit inclusion?</p>
</div>
</div>

<div>
<div id="_com_25"><a name="_msocom_25"></a>

<p>&nbsp;<a href="#_msoanchor_25">[VC25]</a>VC: Perhaps not worth including &ndash; Te Papa had two costumes out of 20</p>
</div>
</div>

<div>
<div id="_com_26"><a name="_msocom_26"></a>

<p>VC: &nbsp;<a href="#_msoanchor_26">[VC26]</a>Gallery 4 of Ngā Toi &ndash; perhaps we need all gallery names in a separate list. Added 23/03/15</p>
</div>
</div>

<div>
<div id="_com_27"><a name="_msocom_27"></a>

<p>&nbsp;<a href="#_msoanchor_27">[VC27]</a>VC: corrected 31/12/15</p>
</div>
</div>

<div>
<div id="_com_28"><a name="_msocom_28"></a>

<p>&nbsp;<a href="#_msoanchor_28">[VC28]</a>VC added 31/12/15</p>
</div>
</div>

<div>
<div id="_com_29"><a name="_msocom_29"></a>

<p>&nbsp;<a href="#_msoanchor_29">[VC29]</a>VC: 2002&ndash;03 exhibtion; added 31/12/15</p>
</div>
</div>

<div>
<div id="_com_30"><a name="_msocom_30"></a>

<p>&nbsp;<a href="#_msoanchor_30">[VC30]</a>VC corrected 31/12/15</p>
</div>
</div>

<div>
<div id="_com_31"><a name="_msocom_31"></a>

<p>&nbsp;<a href="#_msoanchor_31">[VC31]</a>VC corrected 31/12/15 but may have got caps wrong</p>
</div>
</div>

<div>
<div id="_com_32"><a name="_msocom_32"></a>

<p>&nbsp;<a href="#_msoanchor_32">[VC32]</a>VC added 31/12/15</p>
</div>
</div>

<div>
<div id="_com_33"><a name="_msocom_33"></a>

<p>&nbsp;<a href="#_msoanchor_33">[VC33]</a>VC: This seems to be what it was called! Added 23/03/15</p>
</div>
</div>
</div>
